*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:400px;
    width:250px;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    background-color: rgb(17, 45, 45);
}
body{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#userinput{
    border-style:1px solid rgb(28, 12, 12);
    height:80px;
    width:100%;
    border-radius:5px;
    background-color:rgb(232, 234, 234)
}
.keypad{
    border:1px solid rgb(168,167,167);
}
.keypad button {
    border-bottom:50%;
    height:40px;
    width:50px;
    border-style:none;
    margin:10px 1px;
    border-radius:50%;

}